@font-face {
    font-family: "AlibabaPuHuiTi";
        font-weight: 300;
        src: url("../siyuan-ttf-Alibaba_PuHui_Sans/fonts/AlibabaPuHuiTi-3-45-Light.woff") format("woff");
}

@font-face {
    font-family: "AlibabaPuHuiTi";
    font-weight: 400;
    src: url("../siyuan-ttf-Alibaba_PuHui_Sans/fonts/AlibabaPuHuiTi-3-55-Regular.woff") format("woff");
    }
    
    
    @font-face {
        font-family: "AlibabaPuHuiTi";
        font-weight: 500;
        src: url("../siyuan-ttf-Alibaba_PuHui_Sans/fonts/AlibabaPuHuiTi-3-65-Medium.woff") format("woff");
    }
    
    @font-face {
        font-family: "AlibabaPuHuiTi";
        font-weight: 700;
        src: url("../siyuan-ttf-Alibaba_PuHui_Sans/fonts/AlibabaPuHuiTi-3-85-Bold.woff") format("woff");
    }
    
    @font-face {
        font-family: "AlibabaPuHuiTi";
        font-weight: 950;
        src: url("../siyuan-ttf-Alibaba_PuHui_Sans/fonts/AlibabaPuHuiTi-3-115-Black.woff") format("woff");
}

:root {
    --b3-font-family: "AlibabaPuHuiTi", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols" !important;
}