@font-face {
    font-family: "AlibabaPuHuiTi";
    font-weight: 400;
    src: url("../plugins/siyuan-ttf-Alibaba_PuHui_Sans/fonts/AlibabaPuHuiTi-3-55-Regular.woff") format("woff");
}

@font-face {
    font-family: "AlibabaPuHuiTi";
    font-weight: 500;
    src: url("../plugins/siyuan-ttf-Alibaba_PuHui_Sans/fonts/AlibabaPuHuiTi-3-65-Medium.woff") format("woff");
}

@font-face {
    font-family: "AlibabaPuHuiTi";
    font-weight: 700;
    src: url("../plugins/siyuan-ttf-Alibaba_PuHui_Sans/fonts/AlibabaPuHuiTi-3-85-Bold.woff") format("woff");
}

:root {
    --b3-font-family: "AlibabaPuHuiTi", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols" !important;
    --b3-font-family-code: "JetBrainsMono-Regular", mononoki, Consolas, "Liberation Mono", Menlo, Courier, "AlibabaPuHuiTi", monospace, var(--b3-font-family) !important;
}