/* 简体中文 */
@font-face {
    font-family: 'AlibabaPuHuiTiSC';
    font-weight: 400;
    src: url('../plugins/siyuan-ttf-Alibaba_PuHui_Sans/fonts/AlibabaPuHuiTi-3-55-Regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AlibabaPuHuiTiSC';
    font-weight: 700;
    src: url('../plugins/siyuan-ttf-Alibaba_PuHui_Sans/fonts/AlibabaPuHuiTi-3-85-Bold.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

/* 繁体中文 */
@font-face {
    font-family: 'AlibabaPuHuiTiTC';
    font-weight: 400;
    src: url('../plugins/siyuan-ttf-Alibaba_PuHui_Sans/fonts/AlibabaSansTC-55.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AlibabaPuHuiTiTC';
    font-weight: 700;
    src: url('../plugins/siyuan-ttf-Alibaba_PuHui_Sans/fonts/AlibabaSansTC-75.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

/* 日语 */
@font-face {
    font-family: 'AlibabaPuHuiTiJP';
    font-weight: 400;
    src: url('../plugins/siyuan-ttf-Alibaba_PuHui_Sans/fonts/AlibabaSansJP-Regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AlibabaPuHuiTiJP';
    font-weight: 700;
    src: url('../plugins/siyuan-ttf-Alibaba_PuHui_Sans/fonts/AlibabaSansJP-Bold.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

/* 拉丁文 */
@font-face {
    font-family: 'AlibabaSans';
    font-weight: 400;
    src: url('../plugins/siyuan-ttf-Alibaba_PuHui_Sans/fonts/AlibabaSans-Regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AlibabaSans';
    font-weight: 700;
    src: url('../plugins/siyuan-ttf-Alibaba_PuHui_Sans/fonts/AlibabaSans-Bold.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

/* 拉丁文斜体 */
@font-face {
    font-family: 'AlibabaSans';
    font-weight: 400;
    src: url('../plugins/siyuan-ttf-Alibaba_PuHui_Sans/fonts/AlibabaSans-MediumItalic.woff') format('woff');
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AlibabaSans';
    font-weight: 700;
    src: url('../plugins/siyuan-ttf-Alibaba_PuHui_Sans/fonts/AlibabaSans-BoldItalic.woff') format('woff');
    font-style: italic;
    font-display: swap;
}

/* 2025/10/30 跟进官方自带 --b3-font-family 变量，去掉一些字体 */
:root {
    --b3-font-family: 'AlibabaSans', 'Emojis Additional', 'Emojis Reset', BlinkMacSystemFont, Helvetica, 'Luxi Sans', 'DejaVu Sans', arial, sans-serif, emojis !important;
}

:root:lang(zh_CN) {
    --b3-font-family: 'AlibabaPuHuiTiSC', 'AlibabaSans', 'Emojis Additional', 'Emojis Reset', BlinkMacSystemFont, Helvetica, 'PingFang SC', 'Luxi Sans', 'DejaVu Sans', 'Hiragino Sans GB', 'Source Han Sans SC', arial, 'Microsoft Yahei', sans-serif, emojis !important;
}

:root:lang(zh_CHT) {
    --b3-font-family: 'AlibabaPuHuiTiTC', 'AlibabaSans', 'Emojis Additional', 'Emojis Reset', BlinkMacSystemFont, Helvetica, 'PingFang TC', 'Luxi Sans', 'DejaVu Sans', 'Hiragino Sans TC', 'Source Han Sans TC', 'Microsoft JhengHei', arial, sans-serif, emojis !important;
}

:root:lang(ja_JP) {
    --b3-font-family: 'AlibabaPuHuiTiJP', 'AlibabaSans', 'Emojis Additional', 'Emojis Reset', BlinkMacSystemFont, Helvetica, 'Luxi Sans', 'DejaVu Sans', 'Yu Gothic UI', arial, sans-serif, emojis !important;
}
